##### folders
bin/
gen/
out/

##### TMP files
# Dump file
*.stackdump

# Log Files
*.log
*.bak
*.gho
*.ori
*.orig
*.tmp


##### VisualStudioCode
.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/

##### NetBeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

##### JetBrains
.idea/

##### C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app